
@{
    ViewBag.Title = "ReturnsAndExchenge";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@*<center><h1>Returns And Exchenge</h1></center>*@
<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>Returns And Exchenge</h2>
                        <ul>
                            <li><a href="/Home/Index">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="#">Returns And Exchenge</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- about section start -->
<section class="about-page section-big-py-space">
    <div class="custom-container">
        <div class="row">
            @*<div class="col-lg-6">
                    <div class="banner-section"><img src="~/Images/20211161322484624624846246246248462462462.jpg" class="img-fluid w-100" alt=""></div>
                </div>*@
            <div class="form" style="width: 55%;margin-left: 25%;">
                <h4>Return & Exchenge</h4>
                <p class="mb-2">
                    We have a "no questions asked return and refund policy" which entitles all our members to return the product at the time of delivery if due to some reason they are not satisfied with the quality or freshness of the product. We will take the returned product back with us and issue a credit note for the value of the return products which will be credited to your account on the Site. This can be used to pay your subsequent shopping bills.
                </p>
                @*<p class="mb-2">
                    <h4>Loyalty Club</h4>
                    It’s mission is to open the capability of nature to improve personal satisfaction and to make the world
                    a superior spot by applying progressions in exploration and innovation to agribusiness. It’s vision is to give financially
                    solid business freedoms to our accomplice town Agripreneurs Practice high moral business standard. Regard and secure the
                    environment. Supply great items and administrations. Meet the changing necessities and wants of farmers.
                </p>*@
                @*<p class="mb-2">
                    It all started during a trip back from a plantation drive organized by Vineet Mishra who belongs to the small
                    village of Buxar and also from a farmer family, when the idea of Kisan Ki Dukan took hold.
                </p>
                <p class="mb-2">
                    Unlike usual plantation drives, this trip included spending an entire day in the village, with the farmers and having
                    meals with them in their house too. During the meal, there were casual conversations where we inquired where and how
                    they sold the veggies they grew? What was the amount of grains grown by them? What did the other farmers grow? What
                    was the selling price, how easy was it for them to sell? etc. They also showed us local handicrafts which some of the
                    village women had made.
                </p>*@
            </div>
        </div>
    </div>
</section>
<!-- about section end -->



