
@{
    ViewBag.Title = "ShippingAndDelivery";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@*<center><h1>Shipping And Delivery</h1></center>*@
<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>Shipping And Delivery</h2>
                        <ul>
                            <li><a href="/Home/Index">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="#">Shipping And Delivery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- about section start -->
<section class="about-page section-big-py-space">
    <div class="custom-container">
        <div class="row">
            @*<div class="col-lg-6">
                    <div class="banner-section"><img src="~/Images/20211161322484624624846246246248462462462.jpg" class="img-fluid w-100" alt=""></div>
                </div>*@
            <div class="form" style="width: 55%;margin-left: 25%;">
                <h4>Kisan Ki Dukaan</h4>
                <p class="mb-2">
                    Kisan ki dukaan is a model created by Vineet Mishra by keeping a farmer in the focal point of the entire
                    framework. N D Techland Pvt Ltd, with their "kisan ki dukan” model will produce independent work for a large number of
                    youth who want to work however don't discover the chances in the country to make a consistent pay.
                </p>
                <p class="mb-2">
                    It’s mission is to open the capability of nature to improve personal satisfaction and to make the world
                    a superior spot by applying progressions in exploration and innovation to agribusiness. It’s vision is to give financially
                    solid business freedoms to our accomplice town Agripreneurs Practice high moral business standard. Regard and secure the
                    environment. Supply great items and administrations. Meet the changing necessities and wants of farmers.
                </p>
                <p class="mb-2">
                    It all started during a trip back from a plantation drive organized by Vineet Mishra who belongs to the small
                    village of Buxar and also from a farmer family, when the idea of Kisan Ki Dukan took hold.
                </p>
                <p class="mb-2">
                    Unlike usual plantation drives, this trip included spending an entire day in the village, with the farmers and having
                    meals with them in their house too. During the meal, there were casual conversations where we inquired where and how
                    they sold the veggies they grew? What was the amount of grains grown by them? What did the other farmers grow? What
                    was the selling price, how easy was it for them to sell? etc. They also showed us local handicrafts which some of the
                    village women had made.
                </p>
                <p class="mb-2">
                    After some time of this trip, a group of like-minded people went for a trip to Vineet Mishra and saw a
                    way of life so vastly different from small villages. The campus spanned over 235+ acres with schools, Ayurvedic Research
                    and Development Centre, Incubation Centre for Startups, Gau Shala, Agricultural Research Centre, Old Age Home, Temple and
                    so on… They had a tiny shop too, near the exit, where we bought so many useful Ayurvedic products and medicines.
                </p>
                <p class="mb-2">
                    Vineet Mishra had been working in 50+ villages in their District. Women empowerment was one area and in
                    many places, it had trained almost 300+ women from 9 villages to make beautiful Bamboo Products. And after some time, the
                    same women group from villages have created beautiful rakhis from Bamboo.
                </p>
                <p class="mb-2">
                    From there, it came to Vineet’s mind that the Farmer, Gau Shala, Bamboo Artists, Tribal women and many more such
                    “creators”, all require one thing in common. A “Market” for their produce. This, as we all know, is the most important
                    leg for any producer, for any business. With this thought in mind, Kisan Ki Dukan was formed.
                </p>
                <p class="mb-2">
                    Kisan Ki Dukan, inspired by Vineet Mishra, aims to give a platform to all such humble producers who may be farmers,
                    artisans or NGOs, so that they can get their products to reach the market without any hurdle.
                </p>
                <p class="mb-2">
                    Products at Kisan Ki Dukan are genuine and the intention behind their creation and sales is pure. Try them.
                    You will feel it. We will move one step closer to building Atma Nirbhar Bharat.
                </p>
                <p class="mb-2">
                    We are serving in as solid provider (distributer) of best quality ayurvedic items (dried brahmi, giloy roots, mehndi
                    powder, new mint leaves, safed musli, jamun powder, dry ginger powder, ashwagandha roots, aloe vera, amla, and nutmeg),
                    agricultural commodities (new organic products, new vegetables, spices, and agro seeds), and new jaggery.
                </p>
                <p class="mb-2">
                    The items that we offer are broadly known for their great health advantages, rich taste, and cost viability.
                    We are a regarded organization and every one of the items and administrations that we are offering have an enormous interest
                    in the public market. With the true endeavors put by our colleagues, we have gotten a regarded position on the lookout.
                    We are offering our items in high-grade bundling materials.
                </p>
                <p class="mb-2">
                    Kisan Ki Dukan is an eminent name, who had some expertise in giving items in little and enormous amounts all around
                    the year. Working under the direction of Vineet Mishra (Founder), we have gotten a decent name in the space of tasks.
                    The organization is situated in Noida (UP) and we have been working with a network of sellers and wholesalers for a long time.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
