@model IEnumerable<KisanKiDukan.Models.Domain.ADSubCategory>
@{
    ViewBag.Title = "AdSubCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<h2>AdSubCategories</h2>*@
<div style="width:60%">
    <h4>Sub Category For AD</h4><br />
    <a href="/ADCategory/AddSub" class="btn btn-primary">Add more</a>
    <table class="table table-striped">
        <tr>
            <th>Sub Category Name</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="/ADCategory/EditSub?id=@item.Id" class="btn btn-info">Edit</a>
                    <a href="/ADCategory/DeleteSub?id=@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
