@{
    string userName = KisanKiDukan.NewRepository.UserCookie.UserName;
    bool isLoggenId = KisanKiDukan.NewRepository.UserCookie.IsInCookie;
}
<style>
    #navbarToggleExternalContent:hover{
        display:block;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-249676046-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-249676046-1');
</script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1729788950734329',
      xfbml      : true,
      version    : 'v15.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


    <title>Organic Deal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="big-deal">
    <meta name="keywords" content="Organic Ghee, Organic Mustard Oil, Organic Flour, Organic Fruits & Vegetables">
    <meta name="author" content="big-deal">
    <link rel="icon" href="~/HomeLayout/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/HomeLayout/images/favicon.ico" type="image/x-icon">
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--icon css-->
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/themify.css">
    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/slick-theme.css">
    <!--Animate css-->
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/animate.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/bootstrap.css">
    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/HomeLayout/css/color6.css" media="screen" id="color">
    <style>
        .collapse:not(.show)
        {
            display:none;
        }
    </style>
	
	
	
</head>

<body class="bg-light">

    <!-- loader start -->
    @*<div class="loader-wrapper">
        <div>
            <img src="~/Images/loader.gif" alt="loader" class="img-fluid">
        </div>
    </div>*@
    <!-- loader end -->
    <!--header start-->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-inverse">
            <div class="custom-container">
                <div class="row">
                    <div class="col-xl-5 col-md-7 col-sm-6">
                        <div class="top-header-left">
                            <div class="shpping-order">
                                <h6 style="font-size:14px;font-weight:bold;">&nbsp;&nbsp;
									<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <a style="color:white;" href="#" data-toggle="modal" data-target="#add-pincode" title="Delivery Pin">
                                        <span id="addAddress" style="color:white;">Select Your Address</span>
                                    </a>
								</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-5 col-sm-6">
                        <div class="top-header-right">
                            <div class="top-menu-block">
                                <ul>
                                    @*<li><a href="#">gift cards</a></li>*@
                                </ul>
                            </div>
							<div class="language-block" style="font-size:16px;font-weight:bold;">
                                <a style="color:white;" href="/Home/PremiumMember"> Premium Member</a>&nbsp;&nbsp;|&nbsp;
                                <a style="color:white;" href="/Home/SellOnKKD"> Seller </a>&nbsp;&nbsp;|&nbsp;
                                <a style="color:white;" href="/Home/UserProfle">My Account</a>&nbsp;&nbsp;|&nbsp;
                                <a style="color:white;" href="/Home/OrderHistory">My Order</a>
                            </div>
                            <div class="language-block">
                                <div class="language-dropdown">
                                    @if (isLoggenId == true)
                                    {
                                        <span class="language-dropdown-click">
                                            <b style="font-size:14px;font-weight:bold;">@userName&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                        <ul class="language-dropdown-open">
                                            <li><a style="color:blue;font-size:14px;" href="/Home/Logout">Logout</a></li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-header1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-menu-block">
                            <div class="menu-left">
                                <div class="sm-nav-block">
                                    <span class="sm-nav-btn"><i class="fa fa-bars"></i></span>
                                    <ul class="nav-slide">
                                        <li>
                                            <div class="nav-sm-back">
                                                back <i class="fa fa-angle-right pl-2"></i>
                                            </div>
                                        </li>
                                        <li> @Html.Action("CategoriesForMobileView", "Home") </li>
                                    </ul>
                                </div>
                                <div class="brand-logo">
                                    <a href="/Home/Index">
                                        <img src="~/Images/Logo1.png" class="img-fluid" alt="logo-header" style="max-width: 230px; margin-left:-6em;">
                                    </a>
                                </div>
                            </div>
                            <div class="menu-right">
                                <div class="toggle-block">
                                    <nav id="main-nav">
                                        <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                            <li>
                                                <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                            </li>
                                            <!--HOME-->
                                            <li><a href="/Home/Index"> Home </a></li>
                                            <!--HOME-END-->
                                            <!--SHOP-->
                                            <li><a href="~/Home/AllProducts?categoryId=2"> Fruits & Vegetables </a></li>
                                            <!--SHOP-END-->
                                            <!--product-meu start-->
                                            <li class="mega" id="hover-cls"><a href="~/Home/AllProducts?categoryId=3"> Dal , Grains & Flour </a></li>
                                            <!--product-meu end-->
                                            <!--mega-meu start-->
                                            <li class="mega"><a href="~/Home/AllProducts?categoryId=10"> Spices & Oil </a></li>
                                            <!--mega-meu end-->
                                            <!--pages-meu start-->
                                            @*<li><a href="~/Home/AllProducts?categoryId=12">Milk Products </a></li>*@
                                            <!--product-end end-->
                                            <!--blog-meu start-->
                                            @*<li><a href="#"> blog </a></li>*@
                                            <!--blog-meu end-->
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                    <div class="icon-nav">
                                        <ul>
                                            <li class="mobile-user onhover-dropdown" onclick="openAccount()">
                                                <a href="#"><i class="icon-user"></i></a>
                                            </li>
                                            <li class="mobile-wishlist" onclick="openWishlist()">
                                                <a href="#">
                                                    <i class="icon-heart"></i>
                                                    <div class="cart-item"><div>0 item<span>wishlist</span></div></div>
                                                </a>
                                            </li>
                                            <li class="mobile-search">
                                                <a href="#"><i class="icon-search"></i></a>
                                                <div class="search-overlay">
                                                    <div>
                                                        <span class="close-mobile-search">×</span>
                                                        <div class="overlay-content">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-xl-12">
                                                                        <form>
                                                                            <div class="form-group"><input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product"></div>
                                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mobile-setting mobile-setting-hover" onclick="openSetting()">
                                                <a href="#"><i class="icon-settings"></i></a>
                                            </li>
                                        </ul>
                                        <div class="cart-block mobile-cart cart-hover-div">
                                            <a href="/Kart/DisplayKart">
                                                <div onclick="window.location.href='/Kart/DisplayKart'">
                                                    <div id="_desktop_cart">
                                                        <span class="cart-product" id="cartCount">0</span>
                                                        <i class="icon-shopping-cart"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-header category-header-6">
            <div class="custom-container">
                <div class="row">
                    <div class="col">
                        <div class="navbar-menu">
                            <div class="category-left">
                                <div class="nav-block">
                                    <div class="nav-left">
                                        <nav class="navbar" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
                                            <button class="navbar-toggler" type="button">
                                                <span class="navbar-icon"><i class="fa fa-arrow-down"></i></span>
                                            </button>
                                            <h5 class="mb-0 ml-3 text-white title-font">Shop by category</h5>
                                        </nav>
                                        <div class="collapsing show nav-desk" id="navbarToggleExternalContent">
                                            @Html.Action("Categories", "Home")
                                        </div>
                                    </div>
                                </div>
                                <div class="input-block">
                                    <div class="input-box">
                                        <form class="big-deal-form">
                                            <div class="input-group ">
                                                <div class="input-group-prepend">
                                                    <span class="search"><i class="fa fa-search"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="exampleInputPasswords" placeholder="Search a Product">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="category-right">
                                <div class="contact-block">
                                    <div>
                                        <i class="fa fa-volume-control-phone"></i>
                                        <span>call us<span>+91-9716412565</span></span>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <div class="gift-block" data-toggle="dropdown">
                                        <div class="grif-icon">
                                            <i class="icon-gift"></i>
                                        </div>
                                        <div class="gift-offer">
                                            <p>gift box</p>
                                            <span>Festivel Offer</span>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu gift-dropdown">
                                        <div class="media">
                                            <div class="mr-3">
                                                <a href="/Home/NewArrivalProduct"><img src="~/HomeLayout/images/icon/1.png" alt="Generic placeholder image"></a>
                                            </div>
                                            <div class="media-body">
                                                <a href="/Home/NewArrivalProduct"><h5 class="mt-0">NewArrival Product</h5></a>
                                                <p><img src="~/HomeLayout/images/icon/1.png" class="cash" alt="gift"> Flat Rs. 270 Rewards</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <a href="/Home/OrganicProduct"><img src="~/HomeLayout/images/icon/2.png" alt="Generic placeholder image"></a>
                                            </div>
                                            <div class="media-body">
                                                <a href="/Home/OrganicProduct"><h5 class="mt-0">Organic Product</h5></a>
                                                <p><img src="~/HomeLayout/images/icon/fire.png" class="fire" alt="gift">Extra 10% off (upto Rs. 10,000*) </p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <a href="/Home/Reccomendedproduct"><img src="~/HomeLayout/images/icon/3.png" alt="Generic placeholder image"></a>
                                            </div>
                                            <div class="media-body">
                                                <a href="/Home/Reccomendedproduct"><h5 class="mt-0">Reccomended Product</h5></a>
                                                <p>No coupon code is required.</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <a href="/Home/HotDealProduct"><img src="~/HomeLayout/images/icon/6.png" alt="Generic placeholder image"></a>
                                            </div>
                                            <div class="media-body">
                                                <a href="/Home/HotDealProduct"><h5 class="mt-0">HotDeal Product</h5></a>
                                                <p>Buy popular phones on Extra 10% off .</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="mr-3">
                                                <a href="/Home/SpecialProducts"><img src="~/HomeLayout/images/icon/5.png" alt="Generic placeholder image"></a>
                                            </div>
                                            <div class="media-body">
                                                <a href="/Home/SpecialProducts"><h5 class="mt-0">Special Products</h5></a>
                                                <p><img src="~/HomeLayout/images/icon/currency.png" class="cash" alt="gift"> Flat Rs. 270 Rewards</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->

    @RenderBody()

    <!--footer start-->
    <footer class="footer-2">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <div class="footer-main-contian">
                        <div class="row ">
                            <div class="col-lg-4 col-md-12 ">
                                <div class="footer-left">
                                    <div class="footer-logo">
                                        <img src="~/Images/Logo1.png" class="img-fluid  " alt="logo">
                                    </div>
                                    <div class="footer-detail">
                                        <p>Organic Deal is an online market place for grocery delivery at your door step where people can choose and order of their choice. "Organic Deal" believes in the fact that online ordering of grocery should be simple ,quick & unquestionable . There is no longer the need to root through unhygienic product . You can simply order from our portal. So all you have to do is click on Organic Deal for Hygienic Product at your doorstep.</p>
                                        <ul class="paymant-bottom">
                                            <li><a href="#"><img src="~/HomeLayout/images/1.png" class="img-fluid" alt="pay"></a></li>
                                            <li><a href="#"><img src="~/HomeLayout/images/2.png" class="img-fluid" alt="pay"></a></li>
                                            <li><a href="#"><img src="~/HomeLayout/images/3.png" class="img-fluid" alt="pay"></a></li>
                                            <li><a href="#"><img src="~/HomeLayout/images/4.png" class="img-fluid" alt="pay"></a></li>
                                            <li><a href="#"><img src="~/HomeLayout/images/5.png" class="img-fluid" alt="pay"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <div class="footer-right">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="subscribe-section">
                                                <div class="row">
                                                    <div class="col-md-5 ">
                                                        <div class="subscribe-block">
                                                            <div class="subscrib-contant ">
                                                                <h4>subscribe to newsletter</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        <div class="subscribe-block">
                                                            <div class="subscrib-contant">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="your email">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text telly"><i class="fa fa-telegram"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class=account-right>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="footer-box">
                                                            <div class="footer-title">
                                                                <h5>Information</h5>
                                                            </div>
                                                            <div class="footer-contant">
                                                                <ul>
                                                                    <li><a href="/Home/AboutUs">about us</a></li>
                                                                    <li><a href="/Home/Contact">contact us</a></li>
                                                                    <li><a href="/Home/Blog">blog</a></li>
                                                                    <li><a href="/Home/TermsAndConditions">terms & conditions</a></li>
                                                                    <li><a href="/Home/ReturnsAndExchenge">returns & exchanges</a></li>
                                                                    <li><a href="/Home/ShippingAndDelivery">shipping & delivery</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="footer-box">
                                                            <div class="footer-title">
                                                                <h5>quick link</h5>
                                                            </div>
                                                            <div class="footer-contant">
                                                                <ul>
                                                                    <li><a href="/Home/UserProfle">my account</a></li>
                                                                    <li><a href="/Home/LoyalityClub"> Loyality Club</a></li>
                                                                    <li><a href="/Home/PremiumMember"> Premium Member</a></li>
                                                                    <li><a href="/Home/SellOnKKD"> Sell on Organic Deal</a></li>
                                                                    <li><a href="/Home/AdvertiseYourProduct"> Advertise Your Products </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="footer-box footer-contact-box">
                                                            <div class="footer-title">
                                                                <h5>contact us</h5>
                                                            </div>
                                                            <div class="footer-contant">
                                                                <ul class="contact-list">
                                                                    <li><i class="fa fa-map-marker"></i><span>Address: C-53, Sector 2 Noida- Uttar Pradesh <br> <span> india-201301</span></span></li>
                                                                    <li><i class="fa fa-phone"></i><span>call us: (0120)-4354103</span></li>
                                                                    <li><i class="fa fa-envelope-o"></i><span>email us: info@organicdeal.in</span></li>
                                                                    <li><i class="fa fa-mobile" aria-hidden="true"></i><span>Mobile : 8826302378</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-link-block  bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="app-link-bloc-contain app-link-bloc-contain-1">
                        <div class="app-item-group">
                            <div class="app-item">
                                <a href="#">
                                    <img src="~/HomeLayout/images/layout-6/1.png" class="img-fluid" alt="app-banner">
                                </a>
                            </div>
                            <div class="app-item">
                                <a href="#">
                                    <img src="~/HomeLayout/images/layout-6/2.png" class="img-fluid" alt="app-banner">
                                </a>
                            </div>
                        </div>
                        <div class="app-item-group ">
                            <div class="sosiyal-block">
                                <h6>follow us</h6>
                                <ul class="sosiyal">
                                    <li><a href="https://www.facebook.com/organicdeal.in"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/ndorganicdeal"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/organicdeal.in/"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCsATXvG1IpM1dOPmX9G_0Ug"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sub-footer-contain">
                            <p><span>Copyright © 2021 by </span><a href="/Home/Index"> Organic Deal </a> All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->
    <!-- tap to top -->
    <div class="tap-top bg-white">
        <div>
            <img src="~/HomeLayout/images/icon/tap-top.png" class="img-fluid" alt="tap top" />
        </div>
    </div>
    <!-- tap to top End -->
    <!-- Add to cart bar -->
    <div id="cart_side" class="add_to_cart right">
        <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>my cart</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeCart()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="../assets/images/layout-6/product/2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="../assets/images/layout-6/product/5.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>1 x $ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="mr-3" src="../assets/images/layout-6/product/1.jpg"></a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4><span>1 x $ 299.00</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$299.00</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="cart.html" class="btn btn-normal btn-xs view-cart">view cart</a>
                            <a href="#" class="btn btn-normal btn-xs checkout">checkout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to cart bar end-->
    <!--Newsletter modal popup start-->
    @*<div class="modal fade bd-example-modal-lg theme-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="news-latter">
                        <div class="modal-bg" style="background-image: url('../Images/20211141843647747764774774776477477477.jpg');background-repeat: no-repeat;background-size:cover;">
                            <div class="offer-content vagi-offer-contant">
                                <div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h2>newsletter</h2>
                                    <p>Subscribe to our website mailling list <br> and get a Offer, Just for you!</p>
                                    <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                        <div class="form-group mx-sm-3">
                                            <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required="required">
                                            <button type="submit" class="btn btn-theme btn-normal btn-sm " id="mc-submit">subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!--Newsletter Modal popup end-->
	
	<!-- Add-Pincode modal popup start-->
    <div class="modal fade bd-example-modal-lg theme-modal" id="add-pincode" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 30%;height: auto;">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-12 rtl-text">
                            <div class="product-right">
                                <h3>Select Your Delivery Address</h3>
                                <div class="border-product">
                                    <p>Select a delivery location to see product availability and delivery options</p>
                                </div>
                                <div class="product-buttons">
                                    <a href="#" class="btn btn-rounded btn-block" style="margin-left: 0px;">Login to select Address</a>
                                </div>
                                <h4>or enter your delivery pincode</h4>
                                @*<form name="postform" id="postform" class="form-control">*@
                                <div class="border-product">
                                    <input type="text" id="pincode" class="form-control" />
                                </div>
                                <div class="product-buttons">
                                    <button type="submit" id="pinbtn" class="btn btn-rounded" style="margin-left: 34%;">Submit</button>
                                </div>
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add-Pincode modal popup end-->
	
    <!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img" id="prdImg">@*<img src="" alt="quick" class="img-fluid ">*@</div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2 id="prdName"></h2>
                                <h3 id="prdPrice"></h3>
                                <ul class="color-variant">
                                    <li class="bg-light0"></li>
                                    <li class="bg-light1"></li>
                                    <li class="bg-light2"></li>
                                </ul>
                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>
                                    <p id="prodDesc"></p>
                                </div>
                                <div class="product-description border-product">
                                    @*<div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>*@
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons"><a href="#" class="btn btn-normal">add to cart</a> <a href="#" class="btn btn-normal">view detail</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    <!-- My account bar start-->
    <div id="myAccount" class="add_to_cart right account-bar">
        <a href="javascript:void(0)" class="overlay" onclick="closeAccount()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>my account</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeAccount()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <form class="theme-form">
                @if (isLoggenId == false)
                {
                    <div class="form-group">
                        <a href="/Home/Login" class="btn btn-rounded btn-block ">Login</a>
                    </div>
                }
                @if (isLoggenId == true)
                {
                    <h5 class="forget-class"><label for="email" style="margin-left: 77px;font-size: 20px;color: blue;">@userName</label></h5>
                }
                <div class="form-group">
                    <a href="/Home/ChangePassword" class="btn btn-rounded btn-block ">Change Password</a>
                </div>
                <div class="form-group">
                    <a href="~/Home/UserRegister" class="btn btn-rounded btn-block ">User Signup</a>
                </div>
                <div class="form-group">
                    <a href="/Vendor/Add" class="btn btn-rounded btn-block ">Vendor Register</a>
                </div>
                 @if (isLoggenId == true)
                {
                    <div class="form-group">
                        <a href="#" class="btn btn-rounded btn-block ">Forget Password?</a>
                    </div>
                    <div class="form-group">
                        <a href="/Home/Logout" class="btn btn-rounded btn-block ">Logout</a>
                    </div>
                }
                @*<div>
                    <h5 class="forget-class"><a href="forget-pwd.html" class="d-block">forget password?</a></h5>
                    <h6 class="forget-class"><a href="register.html" class="d-block">new to store? Signup now</a></h6>
                </div>*@
            </form>
        </div>
    </div>
    <!-- Add to account bar end-->
    <!-- Add to wishlist bar -->
    <div id="wishlist_side" class="add_to_cart right">
        <a href="javascript:void(0)" class="overlay" onclick="closeWishlist()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>my wishlist</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeWishlist()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="../assets/images/layout-1/media-banner/1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4>
                                    <span>$ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="mr-3" src="../assets/images/layout-1/media-banner/2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>item name</h4>
                                </a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4>
                                    <span>$ 299.00</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="mr-3" src="../assets/images/layout-1/media-banner/3.jpg"></a>
                            <div class="media-body">
                                <a href="#"><h4>item name</h4></a>
                                <h4>
                                    <span>sm</span>
                                    <span>, blue</span>
                                </h4>
                                <h4><span>$ 299.00</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>subtotal : <span>$299.00</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="wishlist.html" class="btn btn-normal btn-block  view-cart">view wislist</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to wishlist bar end-->
    <!-- add to  setting bar  start-->
    <div id="mySetting" class="add_to_cart right">
        <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>my account</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeSetting()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="setting-block">
                <div>
                    <h5>language</h5>
                    <ul>
                        <li><a href="#">english</a></li>
                        <li><a href="#">french</a></li>
                    </ul>
                    <h5>Links</h5>
                    <ul>
                        <li><a href="/Home/Logout" title="Logout">Logout</a></li>
                        <li><a href="/Home/ChangePassword" title="Change Password">Change Password</a></li>
                        <li><a href="/Vendor/Add" title="Add Vendor">Vendor Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Add to setting bar end-->
    <!-- notification product -->
    @*<div class="product-notification" id="dismiss">
            <span onclick="dismiss();" class="close" aria-hidden="true">×</span>
            <div class="media">
                <img class="mr-2" src="../assets/images/layout-6/product/5.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Latest trending</h5>
                    Cras sit amet nibh libero, in gravida nulla.
                </div>
            </div>
        </div>*@
    <!-- notification product -->

     <!-- latest jquery-->
    <script src="~/HomeLayout/js/jquery-3.3.1.min.js"></script>
    <!-- menu js-->
    <script src="~/HomeLayout/js/menu.js"></script>
    <!-- popper js-->
    <script src="~/HomeLayout/js/popper.min.js"></script>
    <!-- slick js-->
    <script src="~/HomeLayout/js/slick.js"></script>
    <!-- Bootstrap js-->
    <script src="~/HomeLayout/js/bootstrap.js"></script>
    <!-- Bootstrap Notification js-->
    <script src="~/HomeLayout/js/bootstrap-notify.min.js"></script>
    <!-- Timer js-->
    <script src="~/HomeLayout/js/script.js"></script>
    <!-- Theme js-->
    <script src="~/HomeLayout/js/modal.js"></script>
    <script src="~/HomeLayout/js/slider-animat-one.js"></script>
    <!-- elevatezoom js-->
    <script src="~/HomeLayout/js/jquery.elevatezoom.js"></script>
    <!--Add To Cart-->
    <script src="~/HomeLayout/js/kart.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--Search product-->
    <link href="~/projectJs/jquery.ui.autocomplete.css" rel="stylesheet" />
    <script src="~/Scripts/js/Library/jquery-ui-1.8.20.min.js"></script>
    @*<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>*@
    <script>
        $(document).on('keydown.autocomplete focus.autocomplete', '#exampleInputPasswords', function () {
        $(this).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url:'/Home/GetProduct',
                    data: { term: request.term },
                    type: 'GET',
                    success: function (data) {

                        if (!data.length) {

                            var result = [
                             {
                                 label: 'No data found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else {

                            response($.map(data, function (item) {
                                return {
                                    label: item.ProductName + '(' + item.ProductName + ')',
                                    value: item.ProductName,
                                    id: item.Id,
                                };
                            }));
                        }
                    }
                });
            },
            select: function (event, ui) {
                window.location.href = "/Home/ProductDetail?productId="+ui.item.id;
            }
        })
    });
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var cityName = localStorage.getItem("CityName");
            var pin = localStorage.getItem("PinCode");
            $.getJSON("https://api.ipify.org?format=json",
                function (data) {
                    if (data.ip) {
                        if (cityName && pin) {
                            $('#addAddress').html(cityName + ' ' + pin);
                        }
                    } else {
                        alert('Please check your internet connection.')
                    }
                })
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pinbtn").click(function () {
                var el = $("#pincode").val();
                if (el.length === 6) {
                    var url = ' https://api.postalpincode.in/pincode/' + el;
                    fetch(url).then(res => {
                        res.json().then(data => {
                            localStorage.setItem("CityName", data[0].PostOffice[0].District);
                            localStorage.setItem("PinCode", data[0].PostOffice[0].Pincode);
                            var cityName = localStorage.getItem("CityName");
                            var pin = localStorage.getItem("PinCode");
                            $.getJSON("https://api.ipify.org?format=json",
                                function (data) {
                                    if (data.ip) {
                                        if (cityName && pin) {
                                            $('#addAddress').html(cityName + ' ' + pin);
                                        }
                                    } else {
                                        alert('Please check your internet connection.')
                                    }
                                })
                        });
                    })
					window.location.href = "/Home/Index";
                }
            });
        });
		
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>
	<script type="text/javascript">
        $(document).ready(function () {
            $("#quickView").click(function () {
                var pdrId = $(this).attr("prodId");
                debugger
                $.ajax({
                    type: "GET",
                    url: "/Home/SingleProdutData?ProdId=" + pdrId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            debugger
                            $("#prdName").html(response.ProductName);
                            $("#prdPrice").html("Rs. " + response.Price);
                            $("#prodDesc").html(response.ProductDescription);
                            $("#prdImg").append("<img src=/Images/" + response.ProductImage +"\>");
                            //alert("Data Found");
                        }
                        else {
                            alert("Data Not Found");
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>




