
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h1>ForgotPassword</h1>
@*<!DOCTYPE html>*@
@*<html lang="en">
<head>
  
    <!-- stylesheets -->
    <!-- stylesheets -->


    <script src="/js/jquery.min.js"></script>
    <script src="/scripts/Library/bootstrapvalidator.min.js"></script>
    <script src="/scripts/Library/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#contact_form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Email_Id: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your registerd email address'
                            },
                            emailAddress: {
                                message: 'Please enter a valid email address'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                    $('#contact_form').data('bootstrapValidator').resetForm();

                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        console.log(result);
                    }, 'json');
                });
        });
    </script>


    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
   <h2>Forgot Password</h2>
    <!-- breadcrumb -->

    <div class="container">

        <form class="well form-horizontal" action="" method="post" id="contact_form">
            <fieldset>
                @using (Html.BeginForm())
                {
                <!-- Form Name -->
                    <legend style="text-align:center">Enter your registerd email address.</legend>
                <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="Email_Id" placeholder="E-Mail Address" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Submit<span class="glyphicon glyphicon-send"></span></button>
                        </div>
                        @ViewBag.Message
                    </div>
                }
            </fieldset>
        </form>
    </div>
</body>
</html>*@