
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h1>PrivacyPolicy</h1>
@*<section id="content" class="page-content page-cms page-cms-4">
    <div class="about-wrap">
       
        <div class="about-us">
            <div class="title">
                <h3 class="clearfix"><span class="text">Privacy Policy</span></h3>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p style="padding: 0px 14px 0px 14px;font-size:16px;line-height:26px">
                        Our website www.varnifarm.net is operated by Roaming Room India Pvt. Ltd. We always consider your privacy to be a very important part. All the information provided by you will be kept strictly confidential and will not be disclosed to any of the third party, without your permission, except to the hostel, hotel and PG owners or in the event wherein you communicate with the respective owner’s directly. We have accordingly developed this privacy policy to protect your personal information and keep it very confidential. We follow stringent procedures to help protect the confidentiality, security, and integrity of data stored in our system.
                    </p>
                 </div>
            </div>
        </div>
    </div>
</section>*@
