@model KisanKiDukan.Models.Domain.OrderStatu
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-group">
    <h3>Add Shipment Status</h3>
</div>
@using (Html.BeginForm("Add", "OrderStatus", FormMethod.Post))
{
    <div class="form-group" style="width:50%">
        Name:@Html.TextBoxFor(a=>a.StatusName,new { @class="form-control"})
    </div>

    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-info" />
    </div>
}
